<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://127.0.0.1:8280; script-src 'self'">
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <title>Connectez-vous ! :)</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Connectez-vous</h1>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
                <label for="emailInput">Adresse email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                <label for="passwordInput">Mot de passe</label>
            </div>
            <button id="login-btn" type="button" class="btn btn-primary mt-2 text-center">Connexion</button>
        </div>

        <script src="../controllers/authentication.js"></script>
    </body>
</html>
